{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <h1>Register</h1>
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
            <div class="input-field">
                {{ form_widget(registrationForm.email) }}
                {{ form_label(registrationForm.email) }}
            </div>
            <div class="input-field">
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'pswrd'}}) }}
                <span class="show">SHOW</span>
                <label>Password</label>
            </div>
{#        <div class="input-field">#}
{#            {{ form_widget(registrationForm.agreeTerms) }}#}
{#            {{ form_label(registrationForm.agreeTerms) }}#}
{#        </div>#}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="button">
                <div class="inner"></div>
                <button type="submit">Registro</button>
            </div>
        {{ form_end(registrationForm) }}
        <div class="signup">
            ¿Ya tienes cuenta? <a href="{{ path('app_login') }}">Inicia sesión</a>
        </div>
    </div>
{% endblock %}
